<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gato</title>
    <link rel="stylesheet" href="css/error.css">
</head>

<body>

    <h1>¡Oops, parece que te has perdido!</h1>
    <p class="zoom-area"><b>El contenido que buscas no está aquí. <br>¡Regresa al inicio y sigue explorando!</b></p>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
    <div class="link-container">
        <a target="_blank" href="/gato" class="more-link"><b>Volver a Jugaral Gato</b></a>
    </div>

</body>

</html>